body {
    font-family: "Montserrat", sans-serif;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
}

p {
    color: #8F8F8F;
}

/* containers section */

.container-fluid {
    padding: 7% 15%;

}

/* sections */

.coloured-section {
    background-color: #FF4C68;
    color: white;
}

.white-section {
    background-color: white;
}

/* headings */

.big-heading {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}

.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}


/* NavBar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0px 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 100;
}


/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0%;
}

/* title section */

#title .container-fluid {
    padding: 3% 15% 7%;
    text-align: left;
}


/* title image */

.dog-img {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.dog-img-parent {
    position: relative;
}

/* Features */

#features {
    position: relative;
}


.features-box {
    padding: 4.5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;

}

.icon:hover {
    color: #FF4C68;
}

.feauture-title {
    font-size: 1.5rem;
}

/* testimonial section */

#testimonials {
    background-color: #ef8172; /*  this colour will override the coloured section's colour */
    
}

.testimonials-img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


.testimonials-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* press  */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;

}


/* pricing section  */

#pricing {
    padding: 100px;

}

.pricing-column {
    padding: 3% 2%;
}

.price-text {
    font-size: 3rem;
    line-height: 1.5;
}

/* call to action */

.cta-h3 {
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}



@media (max-width:1028px) {
    #title {
        text-align: center;

    }

    .dog-img {
        position: static;
        transform: rotate(0);
    }
}

/* footer */

#footer {
    margin: 50px;
}

.footer-logo {
    margin: 20px 10px;
}